GROQ_API_KEY="your-groq-api-key-here"
MONGO_URI="mongodb+srv://username:password@your-cluster.mongodb.net/?appName=your-app"
FLASK_SECRET_KEY="generate-a-random-secret-key-here"
MONGO_CLUSTER="your-cluster-name"
HF_TOKEN="your-huggingface-token-here"
MAIL_USERNAME="your-gmail@gmail.com"
MAIL_PASSWORD="your-16-char-app-password"
GOOGLE_CLIENT_ID="your-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:5000/recruiter/google/callback"
